html, body {
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	color: #111;
	margin: 0px;
	background: skyblue;
}

#main
{
	text-align: center;
	width: 1000px;
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -172px; 
}

#header
{
	padding: 2%;
}

.apps
{
	text-align: left;
}

#footer
{
/*	display:block;
    position: absolute;
    bottom: 0;
    width: 100%;*/
    height: 172px;
	background: url('images/grass.png') repeat-x;
}