html, body {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	color: #111;
	margin: 0px;
}

#main
{
	width: 1000px;
	height: 100%;
	margin: auto;
}

#header
{
	padding: 2%;
}

#footer
{

}